<h1>Listing citations</h1>
<div class='button'>
 <%= link_to '<button type="button">New Citation</button>'.html_safe, new_citation_path %>
</div>

<table id="citations">
  <tr>
    <th>Quotes</th>
    <th>Date</th>
  </tr>
 
  <% @citations.each do |citation| %>
    <tr>
      <td><%= citation.title %></td>
      <td><%= citation.created_at.strftime("%d %B %Y") %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @citations %>