<h1>Listing citations</h1>

<table>
  <tr>
    <th>description</th>
    <th>Text</th>
  </tr>
 
  <% @citations.each do |citation| %>
    <tr>
      <td><%= citation.title %></td>
      <td><%= citation.created_at.strftime("%d %B %Y") %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @citations %>
